.game{
  display:flex;
  height:100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #ccc;
}
.square{
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #fff;
}
svg{
  stroke-width: 15px;
  stroke:rgb(255, 102, 0);
  fill:#fff;
}
.cross{
  stroke:rgb(136, 255, 0);
}
.winner{
  display:flex;
  height:100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}
.modal{
   background-color: #fff;
   padding:30px
}
.button{
  background-color: rgb(136, 255, 0);
  color: #000;
  display: block;
  border: 0;
  padding: 14px 30px;
  font-size: 23px;
  text-align: center;
  margin: auto;
  font-weight: 700;
}